.content {
    width: 63%;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    font-size: 300%;
}

h5 {
    font-size: 56%;
    color: gray;
}

hr {
    margin: 0px 0px 50px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 50px;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 120%;
  }

  .one {
      background-color: aqua;
      grid-column: 1;
      grid-row: 1 / 3;
  }

  .two {
      background-color: blue;
      grid-column: 1;
      grid-row: 3 / 6;
  }

  .three {
      background-color: brown;
      grid-column: 1;
      grid-row: 6 / 10;
  }

  .four {
      background-color: bisque;
      grid-column: 1;
      grid-row: 10 / 12;
  }

  .five {
      background-color: blueviolet;
      grid-column: 2;
      grid-row: 1 / 5;
  }

  .six {
      background-color: aquamarine;
      grid-column: 2;
      grid-row: 5 / 7;
  }

  .seven {
      background-color: cadetblue;
      grid-column: 2;
      grid-row: 7 / 9;
  }

  .eight {
      background-color: cornflowerblue;
      grid-column: 2;
      grid-row: 9 / 12;
  }

  .nine {
      background-color: coral;
      grid-column: 3;
      grid-row: 1 / 4;
  }

  .ten {
      background-color: crimson;
      grid-column: 3;
      grid-row: 4 / 8;
  }

  .eleven {
      background-color: darkgreen;
      grid-column: 3;
      grid-row: 8 / 12;
  }

  .twelve {
      background-color: chartreuse;
      grid-column: 4;
      grid-row: 1 / 3;
  }

  .thirteen {
      background-color: darkgrey;
      grid-column: 4;
      grid-row: 3 / 5;
  }

  .fourteen {
      background-color: darkslateblue;
      grid-column: 4;
      grid-row: 5 / 9;
  }

  .fiveteen {
      background-color: darkmagenta;
      grid-column: 4;
      grid-row: 9 / 12;
  }